# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore editor directions
.idea
.classpath

.project

/bin

.settings/*

.vscode/*
!.vscode/launch.json

compose.yaml
Dockerfile
README.Docker.MD
.dockerignore

# Solid credentials
.env

# Python
__pycache__

# Node
node_modules

.DS_Store